<!DOCTYPE html>
<html>
<head>
  <title>Minikas payable</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "minikas_payable/application", media: "all" %>
  <%= javascript_include_tag "minikas_payable/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
